.cabecalho {
  padding: 40px;
  background-color: white;
  padding-bottom: 120px;




h1.title {
  font-family: 'Ms Madi', cursive;
  font-weight: 100;
  color: #f2296f;
  text-shadow: 1px 2px 3px #f2296f, 0 0 1em #f2296f, 0 0 0.2em #f2296f;

}
}
